*{
   box-sizing: border-box;
   color:white
}

body{
    background-color: #3A5A78;
    margin: 8em;
    main-height: 100vh;	
} 

#first-title{
    font-size: 45px;
    font-family: cursive;
}
#session-label, #break-label{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}

#timer-label{
    font-size: 25px;
    font-family: cursive;
}

#break-length, #session-length{
    font-size: 20px;
    font-family: cursive;
}

#time-left{
    font-size: 45px;
    font-family: cursive;
}